thead{
    background-color: green;
}
tbody tr td:first-child{
    background-color: orange;
}
tbody tr:nth-last-of-type(odd){
    background-color: gray;
}
tbody tr:nth-last-of-type(even){
    background-color:purple;
}
tbody tr:hover td{
    background-color: yellow;
}
th, td{
    padding: 8px;
}